.input__group{
  position: relative;
  font-size: 1.25rem;
  width: auto;
}

.input{
  width: 100%;
  color: var(--c8);
  padding: .75rem 1rem;
  margin: .5rem 0;
  border-radius: 3rem;
  border: 1px solid var(--c5);
  transition: 190ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  background-color: var(--c2);
}

.label{
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  color: var(--c11);
  font-size: large;
  pointer-events: none;
  transition: 190ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus{
  border: 1px solid var(--primary);
}

.input:hover,
.input:focus{
  outline: none;
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
}

.input:is(:focus, :valid) ~ label{
  transform: translateY(-120%) scale(0.8);
  background-color: var(--c2);
  padding-inline: .3rem;
  color:  var(--c8);
}

@media (max-width: 1100px) {
  .input{
    margin-top: 1rem;
    margin-left: 0;
  }
  
  .label{
    top: 2rem;
  }
}

.label__radio{
  font-size: .9rem;
  color: var(--c8);
  pointer-events: none;
  padding-left: 2rem;
}

.input__content__radio{
  display: flex;
  padding: .0 0 1rem 0;
}

.input__content__radio__button{
  display: flex;
  padding: .0 0 1rem 0;
  width: 60%;
  box-sizing: border-box;
  justify-content: flex-start;
}

.p__input__radio{
  font-size: .75rem;
  padding: .55rem 1rem 0 1rem;
  box-sizing: border-box;
  width: 42ch;
}

.button__input__radio{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: .5rem;
  box-sizing: border-box;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--c6);
  cursor: pointer;
}

.button__input__radio:hover, .button__input__radio:focus{
  outline: none;
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
}
