.form__content{
  height: 100%;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 1rem;

}

.button__login{
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--c0);
  background: linear-gradient(140deg, var(--p3) 10%, var(--p4));;
  border: none;
  border-radius: 1rem;
  margin-bottom: .5rem;
  cursor: pointer;
  transition: .3s ease;
  box-sizing: border-box;
  background-color: aliceblue;
}

.button__login:hover, .button__login:focus{
  outline: none;
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
}