.modal__h1{
  font-size: 1rem;
  font-family: 'Montserrat';
  font-weight: 500;
  color: var(--c11);
  padding: .5rem 0 1rem 0;
  position: absolute;
  top: 2.5rem;
  left: 1rem;
}

.modal__table__th{
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .25px;
}

.modal__table{
  margin-top: 4rem;
  box-sizing: border-box;
}

table, th, td{
  border: 2px solid var(--c6);
  border-collapse: collapse;
}

th, td{
  width: 100%;
  white-space: nowrap;
}

table{
  width: 100%;
}

th input{
  background-color: transparent;
  border: none;
  padding: .5rem 1rem;
  text-align: center;
}

.buttom__delete__update{
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--c0);
  background: linear-gradient(140deg, var(--p3) 10%, var(--p4));;
  border: none;
  border-radius: 1rem;
  margin-bottom: .5rem;
  cursor: pointer;
  transition: .3s ease;
  box-sizing: border-box;
  background-color: aliceblue;
}

.buttom__delete__update:hover, .buttom__delete__update:focus{
  outline: none;
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
}