.input__group{
  position: relative;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.input{
  width: 100%;
  color: var(--c8);
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--c5);
  transition: 190ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  background-color: var(--c1);
}

.label{
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: var(--c11);
  font-size: large;
  pointer-events: none;
  transition: 190ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus{
  border: 1px solid var(--primary);
}

.input:hover,
.input:focus{
  outline: none;
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
}

.input:is(:focus, :valid) ~ label{
  transform: translateY(-120%) scale(0.8);
  background-color: var(--c1);
  padding-inline: .3rem;
  color:  var(--c8);
}

@media (max-width: 1100px) {
  .input{
    margin-top: 1rem;
    margin-left: 0;
  }
  
  .label{
    top: 2rem;
  }
}
